---
---

<script>
  let time: string;
  let date: Date;
  setInterval(() => {
    date = new Date();
    time =
      String(date.getHours()).padStart(2, "0") +
      ":" +
      String(date.getMinutes()).padStart(2, "0") +
      ":" +
      String(date.getSeconds()).padStart(2, "0");
    document.getElementById("time").innerHTML = "The time is " + time;
  }, 1000);
</script>

<p id="time" class="text-white border-cyan-950 bg-cyan-950 border-2 text-center w-56 leading-[3] rounded-lg m-auto mt-4 font-bold font-sans">
</p>
